/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Beginning of Styles */
:root {
  --color-primary: #93e2e4;
  --color-hover: #008c93;
  --color-bg: #eeeeee;
  --color-border: #bbbbbb;
  --color-main-text: #2e2e2e;
  --color-hover-gray: #5a5a5a;
  --color-gray: #7a7a7a;
  --border-radius: 5px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-main-text);
}

header {
  border-bottom: var(--color-border) 1px solid;
}

header h1 {
  padding: 16px;
  text-align: center;
}

#content {
  width: 1000px;
  margin: 0 auto;
}

.board-container {
  display: flex;
  justify-content: space-around;
  margin: 48px 0;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  border: var(--color-main-text) 1px solid;
  background-color: white;
}

.cell {
  border: 1px solid var(--color-border);
}

.ship {
  background-color: var(--color-primary);
}

.cell.hit {
  background-color: var(--color-gray);
}

.cell.hit-ship {
  background-color: #d32f2f;
}

dialog {
  padding: 36px;
  border: 1px var(--color-border) solid;
  border-radius:  var(--border-radius);
  box-shadow: 0 0 5px 2px black;
}

dialog h1 {
  margin-bottom: 24px;
  text-align: center;
}

.dialog-button-container {
  display: flex;
  justify-content: center;
}

dialog button {
  padding: 8px 16px;
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-hover);
}

.secondary {
  background-color: var(--color-gray);
}

.secondary:hover {
  
  background-color: var(--color-hover-gray);
}

.game-buttons {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

button {
  border: 1px var(--color-border) solid;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 600;
}

.game-buttons > button {
  padding: 8px;
  flex: 1;
}

.game-buttons .reset {
  flex: initial;
  width: 250px;
}